:root {
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#content {
    text-align: justify;
}

hr {
    width: auto !important;
    margin: 10px;
}

body {
    font-family: sans-serif;
    font-size: 12pt;
    background-color: #fbfbfb;
    margin: 15px;
}

a:link {
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

a:hover .blink_text {
    color: #ff0000;
    animation: none;
}

.first-course .secons-course {
    font-size: 12px;
}

p.classf {
    margin: 10px;
    font-size: 14px;
}

p.classborder {
    border: double 4px #ff0000;
    font-size: 16pt;
    font-weight: bold;
}

p.classtopic {
    font-size: 10pt;
    font-style: italic;
    font-weight: bold;
    color: green;
}

p.classalert {
    border: 1px solid green;
    padding: 5px;
    background: #ffffcc;
    font-weight: bold;
    color: #ffa500;
    text-align: center;
    font-size: 16pt;
}

.block1 {
    height: 60px;
    padding: 10px;
}

#primer {
    height: 500px !important;
    width: 100% !important;
    margin-left: auto !important;
    border: 1px solid gray !important;
    overflow-x: auto !important;
}

#bar {
    height: 360px;
    border: 0px solid gray;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
    font-size: 10pt;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(217, 217, 217);
}

.logo {
    font-size: 35pt;
    color: red;
    font-family: Inter, sans-serif;
    display: inline;
    font-weight: normal;
}

.slogan {
    color: #000000;
    font-size: 16pt;
}

.logo_black {
    font-size: 30pt;
    color: black;
    font-family: Cambria;
}

.title {
    font-size: 14pt;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.blink_text {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% {
        color: red;
    }

    50% {
        color: #3366CC;
    }

    100% {
        color: red;
    }
}

.new {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 16pt;
    color: red;
    margin-left: 15px;
}

.menu {
    width: 300px;
    margin-right: 15px;
}

.container {
    max-width: 1020px;
    width: auto;
    margin: 0 auto;
    display: flex;
}

.menu .fly {
    margin-bottom: 15px;
}

.menu {
    align-items: center;
    text-align: center;
}

.fly {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(217, 217, 217);
}

.cont {
    width: 100%;
    min-width: 350px;
    height: fit-content;
    display: inline-block;
    vertical-align: top;
}

.cont img {
    /* background-color: white; */
    /* filter: invert(1); */
}

ul.themes,
ul.themes ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

ul.themes ul {
    display: block;
}

ul.themes li.selected ul {
    display: block;
}

ul.themes li {
    transition: 0.2s ease-in-out;
    background: white;
    color: #000;
    margin: 0;
}

ul.themes li p {
    font-size: 14pt;
    padding: 7px;
    padding-right: 14px;
    margin: 0px;
}

ul.themes li ul li {
    transition: 0.2s ease-in-out;
    background: white;
    color: #333;
    border-radius: 0px;
    display: flex
}

ul.themes>li:nth-child(2n-1),
ul.themes>li ul>li:nth-child(2n) {
    background: rgb(231, 231, 231);
}

ul.themes li:hover,
ul.themes li ul li:hover {
    background: rgb(211, 211, 211);
}

ul.themes a:link {
    font-size: 12pt;
    font-weight: normal;
}

ul.themes li ul li:first-child {
    border-radius: 0px;
    border: 0;
}

.themes li:last-child ul li:last-child {
    border-radius: 0px 0px 10px 10px;
}

.themes>li:last-child {
    border-radius: 0px 0px 10px 10px;
}

.deactive:after {
    content: '\+';
    color: #000;
    font-weight: bold;
    right: 7px;
    position: absolute;
}

.deactive {
    position: relative;
}

.active {
    background-color: rgb(211, 211, 211);
}

.active:after {
    content: '\−' !important;
}

.themes a {
    color: black;
}

.finder div {
    display: inline-block;
    padding: 7px;
    color: white;
    border-radius: 5px;
    background-color: #ffc622;
}

/* .sublist {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
} */

.sublist li a {
    display: inline-block;
    padding: 7px;
    width: 100%;
    color: black;
}

a span {
    display: block;
    border: 1px solid #FF0;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 20px;
}

*::-webkit-scrollbar-track {
    background: #e7e7e7;
}

#btnScrollTop {
    display: none;
    transition: 0.2s ease-in-out;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: white;
    border-radius: 22px;
    box-shadow: 0px 0px 10px rgb(217, 217, 217);
    cursor: pointer;
    width: 44px;
    height: 44px;
}

#btnScrollTop:hover,
#settings:hover {
    background-color: rgb(211, 211, 211);
}

#btnScrollTop::before {
    content: "";
    text-align: center;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('chrome-extension://__MSG_@@extension_id__/icons/up_arrow.svg');
}

#settings {
    display: block;
    transition: 0.2s ease-in-out;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: white;
    border-radius: 22px;
    box-shadow: 0px 0px 10px rgb(217, 217, 217);
    cursor: pointer;
    width: 44px;
    height: 44px;
}

#settings::before {
    content: "";
    text-align: center;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('chrome-extension://__MSG_@@extension_id__/icons/settings.svg');
}

.settings-head {
    display: flex;
    justify-content: space-between;
}

.popup {
    display: none;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

.popup-content {
    position: absolute;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close img {
    text-align: center;
    width: 24px;
    height: 24px;
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
}

.item label {
    margin-left: auto;
}

.item img {
    width: 28px;
    height: 28px;
    margin-right: 12px;
}

.setting-name {
    font-size: 12pt;
    color: black;
}

.setting-descrip {
    font-size: 8pt;
    color: grey;
}

.settings-head {
    /* height: 44px; */
    font-size: 21pt;
    display: flex;
    align-items: center;
}

.setting-text {
    padding: 10px 0;
}

.settings-head img {
    width: 28px;
    height: 28px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d3d3d3;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}